<%= form_with(model: frame) do |form| %>
  <% if frame.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(frame.errors.count, "error") %> prohibited this frame from being saved:</h2>

      <ul>
        <% frame.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :frame_number, style: "display: block" %>
    <%= form.number_field :frame_number %>
  </div>

  <div>
    <%= form.label :score, style: "display: block" %>
    <%= form.number_field :score %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
