<div id="<%= dom_id frame %>">

<table>
  <tr>
    <th>Frame </th>
    <th>Score</th>
  </tr>
  <tr>
    <td><%= frame.frame_number %></td>
     <td><%= frame.score %></td>
  </tr>
</table>

  <div class="rolls">
    <h3>Rolls:</h3>
    <% frame.rolls.each do |roll| %>
      <p>
        <strong>Roll number:</strong>
        <%= roll.roll_number %>
      </p>
      <p>
        <strong>Pins down:</strong>
        <%= roll.pins_down %>
      </p>
      <p>
        <strong>Kind:</strong>
        <%= roll.kind %>
      </p>
    <% end %>
  </div>
</div>
