<div id="<%= dom_id frame %>">
  <p>
    <strong>Frame number:</strong>
    <%= frame.frame_number %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= frame.score %>
  </p>

  <div class="rolls">
    <h3>Rolls:</h3>
    <% frame.rolls.each do |roll| %>
      <p>
        <strong>Roll number:</strong>
        <%= roll.roll_number %>
      </p>
      <p>
        <strong>Pins down:</strong>
        <%= roll.pins_down %>
      </p>
      <p>
        <strong>Kind:</strong>
        <%= roll.kind %>
      </p>
    <% end %>
  </div>
</div>
