<p style="color: green"><%= notice %></p>

<h1>Player 1: Time to Bowl</h1>

<div id="scoring_table">
  <table>
    <%= @frames.each do |frame| %>
      <tr>
        <th><%= frame.frame_number %> </th>
      </tr>
      <tr>
        <%= frame.rolls.each do |roll| %>
          <th><%= roll.roll_number %></th>
          <td><%= roll.pins_down %></td>
        <%- end -%>
      </tr>
      <tr>
        <td><%# frame.score %></td>
      </tr>
    <%- end -%>
  </table>
</div>

<%# link_to "Show this frame", frame %>
<%# link_to "New frame", new_frame_path %>
